<%- include("header") -%> 

    <!--<% if (listTitle  === "Saturaday" || listTitle  === "Sunday"){ %>-->
        <!--<h1>It's a <%= listTitle  %> ! </h1>-->
    <!--<h1 style="color: purple"> <%= listTitle  %> ToDo List </h1>-->    
    <!--<% }else{ %>-->
        <!--<h1 style="color: blue"> <%= listTitle  %> ToDo List </h1>-->
   <!--<%}  %>  -->   
   <div class="box" id="heading">
    <h1> <%= listTitle  %> </h1>
   </div>     
     

    <!--<li><%= newListItems %> </li>-->
    <div class="box">
        <% for (var i=0; i<newListItems.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p> <%= newListItems[i]  %> </p> 
            </div>
        <% } %>
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="listButton" value=<%= listTitle %> >+</button>
        </form>
    </div>
   
<%- include("footer") -%>     
   
   
   
    

